/* General et un reset 0 pour les marges par defaut */
body{
    font-family: "Century Gothic", Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

/* le titre h1*/
h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

 /* le header */
header{
      height: 100px;
}

/* le pied de la page*/
footer{
  height: 80px;
  padding-top: 30px;
  text-align: center;
  background-color: #C5C5C5;
  border: 2px solid #AAA;
}

/* on etend le conteur des liens du menu principal
 et une couleur de fond gris foncee*/
nav{
  width: 100%;
  background-color: #424558;
}

/* Un reset 0px pour les liste ul */
nav ul{
  margin: 0px;
  padding: 0px;
}
/* enlevr les puces et notre liste va flotter a gauche*/
nav li{
  list-style-type: none;
  float: left;
}

/* les element li c'est a dire <a> qui se placeront cote a cote et ajouter une mise en forme*/
nav a{
     display: inline-block;
     text-decoration: none;
     padding: 20px 30px;
     color: #FFF;
     text-transform: uppercase;
     font-size: 15px;
 }

 img{
   width: 150px;

 }

/* Ici on centre le menu, et on l'affiche la propriete display: table*/
  .table{
      display: table;
      margin: 0 auto;
  }

/* bordure en haut des elemnts du menu et couleur de fond
en semi-transparence lors du survol de l'ement en question*/
  .menu-ind:hover{
    border-top: 5px solid #44C8;
    background-color: RGBa(64, 200, 130, 0.15);
  }

  /* bordure en haut des elemnts du menu et couleur de fond
  en semi-transparence lors du survol de l'ement en question*/
  .menu-exp:hover{
  border-top:  5px solid #f14fdc;
  background-color: RGBa(241, 211, 79, 0.15);
}

/* bordure en haut des elemnts du menu et couleur de fond
en semi-transparence lors du survol de l'ement en question*/
.menu-hob:hover{
  border-top: 5px solid #0070BB;
  background-color: RGBa(000, 112, 192, 0.15);
}

/* bordure en haut des elemnts du menu et couleur de fond
en semi-transparence lors du survol de l'ement en question*/
.menu-con:hover{
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15);
}

/* Ici comme la bordure deplace les elements de menu de sa hauteur
lors du survol, alors on ajoute une marge interieur specifique afin
de contrebalance l'effet de la bordure note: a tenir en compte de la
marge deja defini sur l'element nav a donc on fais une reduction 5px*/
nav li:hover a{
  padding: 15px 30px 20px 30px;
}
 /* mise en forme des sections */
section{
  width: 100%;
  min-height: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* pour centrer le contenu */
.sec{
  margin: 0px 10%;
}

/* faire flotter tous les divs qui on une class left */
.left{
   float: left;
   width: 30%;
}

/* faire flotter tous les divs qui on une class right */
.right{
  float: left;
  width: 70%;
}

/* un width 50% au 1er div qui coupe la section en deux ensuite un width 50% au 2em div qui coupe la section en 2
1er div cleft, cright et 2em div sousleft, sousright */

.cleft, .cright, .sousleft, .sousright{
  width: 50%;
  float: left;
}

/* Pour eviter que les element flottant du div qui est 1 enfant de section soit collapser on va appliquer la propriete clear fix */

.sec::after, .exp::after, .reco::after{
  content:"";
  display: table;
  clear: both;

}

#presentation{
  border-top: 5px solid #0070BB;
  background-color: RGBa(241, 200, 130, 0.15);
}

#parcours{
  border-top: 5px solid #0070BB;
  background-color: RGBa(241, 211, 79, 0.15);
}

#competences{
  border-top: 5px solid #0070BB;
  background-color: RGBa(000, 112, 192, 0.15);
}

#recommendation{
  border-top: 5px solid #0070BB;
  background-color: RGBa(228, 77, 38, 0.15);
}

.orange{
   border-top: 5px solid #e47d26;
   background-color: RGBa(228, 117, 38, 0.15);
   margin-bottom: 0px;
}

.rose{
   border-top:  5px solid #e44d96;
   background-color: RGBa(228, 77, 128, 0.15);
   margin-bottom: 0px;
}

.vert{
  border-top: 5px solid #5f6;
  background-color: RGBa(70, 240, 80, 0.15);
}

.bleu{
   border-top: 5px solid #29c;
   background-color: RGBa(30, 152, 212, 0.15);
}

.jaune{
  border-top: 5px solid #f3e241;
  background-color: RGBa(240, 255, 69, 0.15);
}

.rouge{
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15);
}

.leftexp{
  width: 45%;
  float: left;
}

.rightexp{
  width: 50%;
  float: left;
  margin-left: 5%;
}

.leftexp img{
   width: 100%;
   max-width: 400px;
}



/* le media screen afin d'adapter le design responsive sur des ecrans inferieur
ou egale a 780px*/
@media screen and (max-width: 780px){
  header{
    height: 50px;
  }
  h1{
    font-size: 28px;
    padding: 20px 0px 0px 0px;
  }
  nav li a{
    font-size: 12px;
    padding: 10px;
  }
  nav li:hover a{
    padding: 5px 10px 10px 10px;
  }
}
